@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

:root {
  --dark-grey: #1D1D1D;
  --light-grey: #282828;
  --blood-red: #A21A1A;
  --grey: #616161;
  --white: #ffffff;
  --section-padding-top: 100px;
  --section-padding-bottom: 100px;
  --global-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: var(--white);
  font-weight: 900;
}

h2 {
  font-size: 60px;
}

p, a {
  color: var(--white);
  opacity: 0.7;
  text-align: center;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--white)
}

p.italic {
  font-style: italic;
}

.section h2 {
  margin-bottom: 50px;
} 

button:focus {
  outline: none;
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 111;
  pointer-events: none;
}

.nav-bar {
  z-index: 11;
  background-color: transparent;
  height: 80px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: all;
}

.nav-bar__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar__logo, .footer__logo {
  background-image: url('icons/logo-white.svg');
  width: 77px;
  height: 38px;
  background-size: 77px 38px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -200px;
  transition: right 0.35s ease;
  pointer-events: none;
  background-color: var(--dark-grey);
  box-shadow: var(--global-shadow);
  z-index: 11;
}

nav.is-active {
  right: 15px;
  pointer-events: all;
}

.nav-item {
  border-top: 2px solid var(--light-grey);
  border-bottom: 2px solid var(--light-grey);
  width: 60px;
  height: 100px;
  transition: all 0.35s ease;
  position: relative;
}

.nav-item:first-child {
  border-top: none;
}

.nav-item:last-child {
  border-bottom: none;
}

.nav-item a {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.35s ease;
  opacity: 1;
}

.nav-item a.is-active {
  background-color: var(--blood-red);
}

.nav-item a.is-active box-icon {
  fill: var(--white);
}

.nav-item box-icon {
  fill: var(--grey);
  width: 36px;
  height: 36px;
  transition: all 0.35s ease;
}

.nav-item:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.hero {
  background-color: var(--dark-grey);
  background-image: url('images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.hero__bg {
  opacity: 0;
  position: absolute;
}

.hero h1 {
  text-align: center;
  color: var(--white);
  position: relative;
  z-index: 1;
  font-size: 65px;
}

.hero__link, .footer__link {
  position: absolute;
  right: 30px;
  z-index: 11;
}

.hero__link--linkedin, .footer__link--linkedin {
  bottom: 130px;
}

.hero__link--github, .footer__link--github {
  bottom: 80px;
}

.hero__link--instagram, .footer__link--instagram {
  bottom: 30px;
}

.hero__link box-icon, .footer__link box-icon {
  fill: var(--grey);
  width: 36px;
  height: 36px;
  transition: all 0.35s ease;
}

.hero__link:hover box-icon {
  fill: var(--white);
}

.hero__quote {
  position: absolute;
  z-index: 11;
  left: 30px;
  bottom: 35px;
  text-align: left;
  margin: 0;
  font-style: italic;
  opacity: 0.4;
  max-width: 60%;
  border-left: 2px solid white;
  padding-left: 15px;
  line-height: 1.5;
}

.overlay--black::after {
  content: '';
  background-color: var(--dark-grey);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  z-index: 2;
}

.section h2 {
  text-align: center;
  text-shadow: var(--global-shadow);
}

.section-title {
  position: relative;
  z-index: 2;
}

.section-number {
  opacity: 0.1;
  position: absolute;
  text-shadow: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  font-size: 140px;

}

.section--samples {
  background-color: var(--dark-grey);
  padding-bottom: 140px;
}

.section--about {
  background-color: var(--blood-red);
  padding: 0;
}

.section--about .half-n-half {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.section--about .half-n-half .left {
  background-image: url('images/about-image.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 50%;
  background-color: var(--dark-grey);
}

.section--about .half-n-half .right {
  width: 50%;
}

.section--history {
  background-image: url('images/history.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--dark-grey);
}

.section--history row {
  position: relative;
  z-index: 2;
}

.history-timeline {
  list-style-type: none;
  position: relative;
  z-index: 2;
}

.history-timeline p {
  text-align: left;
  margin-bottom: 0;
}

.history-timeline li {
  padding-bottom: 15px;
  position: relative;
}

.history-timeline li:last-child {
  padding-bottom: 0;
}

.history-timeline li:last-child::before {
  content: none;
}

.history-timeline li::after {
  content: '';
  position: absolute;
  left: -26px;
  top: 6px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--white);
  background-color: var(--dark-grey);
  border-radius: 100%;
}

.history-timeline li::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 6px;
  width: 2px;
  height: 100%;
  background-color: var(--blood-red);
}

@media (max-width: 992px) {
  .section--about .half-n-half {
    position: relative;
  }

  .section--about .half-n-half .left {
    width: 100%;
  }

  .section--about .half-n-half .left::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .section--about .half-n-half .right {
    display: none;
  }
}

.section--about .grid .right {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.section--skills {
  background-color: var(--dark-grey);
}

.section--skills .row .column .inner-wrap {
  background-color: var(--light-grey);
  padding: 30px;
  height: 100%;
  text-align: center;
  box-shadow: var(--global-shadow);
}

.icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.icon--react {
  width: 50px;
  height: 44px;
  background-size: 50px 44px;
  background-image: url('icons/react-icon.svg');
}

.icon--wordpress {
  width: 44px;
  height: 44px;
  background-size: 44px 44px;
  background-image: url('icons/wordpress-icon.svg');
}

.icon--ui {
  width: 56px;
  height: 44px;
  background-size: 56px 44px;
  background-image: url('icons/ux-ui-design-icon.svg');
}

@media (max-width: 992px) { 
  .section--skills .row .column {
    margin-bottom: 15px;
  }
}

.carousel {
  width: 100%;
}

.carousel-indicators {
  bottom: -70px;
}

.carousel-indicators li {
  width: 10px;
}

.carousel-inner {
  padding: 30px 0;
}

.carousel-control-prev span {
  background-image: none;
  border-top: 2px solid var(--white);
  border-left: 2px solid var(--white);
  transform: rotate(-45deg);
}

.carousel-control-next span {
  background-image: none;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

.carousel-item {
  width: 100%;
}

.carousel-item__content {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--light-grey);
  box-shadow: var(--global-shadow);
}

.carousel-item__content::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.carousel-item__name {
  position: absolute;
  right: 30px;
  top: 30px;
  font-weight: 300;
  margin: 0;
  font-size: 25px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.carousel-item__year {
  position: absolute;
  left: 30px;
  top: 30px;
  font-weight: 900;
  margin: 0;
  font-size: 25px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

.carousel-item__role {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-weight: 300;
  margin: 0;
  font-size: 25px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.carousel-item__content box-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  fill: var(--white);
  width: 25px;
  height: 25px;
  filter: drop-shadow( 0 0 20px rgba(0, 0, 0, 0.8));
}

.carousel-item__content a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

footer {
  background-color: var(--blood-red);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

footer p, footer a {
  opacity: 1;
  margin: 0;
}

.footer__links {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__link {
  position: relative;
  bottom: unset;
  right: unset;
}

.footer__link box-icon {
  fill: white;
}

footer .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

footer .center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

footer .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  footer .left {
    justify-content: left;
    margin-bottom: 0;
  }
  
  footer .center {
    justify-content: center;
    margin-bottom: 0;
  }
  
  footer .right {
    justify-content: flex-end;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 40px;
  }

  .carousel-item__name, .carousel-item__year, .carousel-item__role {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .carousel-item__content {
    width: 50%;
  }
}



@media (min-width: 1200px) { }