:root {
  --dark-grey: #1D1D1D;
  --light-grey: #282828;
  --red: #A21A1A;
  --grey: #616161;
  --white: #ffffff;
  --section-padding-top: 100px;
  --section-padding-bottom: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-grey);
}

h1, h2, h3, h4, h5 {
  color: var(--white);
}

button:focus {
  outline: none;
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
}

.nav-bar {
  z-index: 11;
  background-color: transparent;
  height: 80px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar__logo {
  background-image: url('icons/logo-white.svg');
  width: 77px;
  height: 38px;
  background-size: 77px 38px;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -200px;
  transition: right 0.35s ease;
  pointer-events: none;
  background-color: var(--dark-grey);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
  z-index: 11;
}

nav.is-active {
  right: 15px;
  pointer-events: all;
}

.nav-item {
  border-top: 2px solid var(--light-grey);
  border-bottom: 2px solid var(--light-grey);
  width: 60px;
  height: 100px;
  transition: all 0.35s ease;
  position: relative;
}

.nav-item:first-child {
  border-top: none;
}

.nav-item:last-child {
  border-bottom: none;
}

.nav-item a {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item box-icon {
  fill: var(--grey);
  width: 36px;
  height: 36px;
}

.nav-item.is-active {
  background-color: var(--red);
}

.nav-item.is-active box-icon {
  fill: var(--white);
}

.nav-item:hover {
  background-color: var(--light-grey);
}

.hero {
  background-image: url('images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero h1 {
  text-align: center;
  color: var(--white);
  position: relative;
  z-index: 1;
  font-size: 65px;
}

.overlay--black::after {
  content: '';
  background-color: var(--dark-grey);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  min-height: 100vh;
}

.section h2 {
  text-align: center;
}

.section--samples {
  background-color: var(--dark-grey);
}

.carousel {
  width: 100%;
  border: 1px solid red;
}

.carousel-item {
  width: 100%;
  border: 1px dashed blue;
}

.carousel-item.active {
  
}

.carousel-item::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.carousel-item__content {
  position: absolute;
  width: 50%;
  height: 100%;
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }